<div *ngFor="let l of list_order">
    <div class="card mt-2 p-1 w-100">
        <div class="row g-0">
          <div class="col-lg-4 d-flex align-items-center">
            <img [src]="l.img" class="img-fluid rounded" [alt]="l.name">
          </div>
          <div class="col-lg-6">
            <div class="card-body">
                <div class="d-flex">
                    <p class="card-title pe-3">{{l.name}}</p>
                    <p class="card-text">x {{l.qty}}</p>
                </div>
              <p class="card-text"><small class="text-muted">{{l.price}}</small></p>
            </div>
          </div>
          <div class="col-lg-2">

          </div>
        </div>
      </div>
</div>