<div class="w-100 d-flex justify-content-center">
  <div class="shadow my-3">
      <mat-button-toggle-group  name="categoryList" aria-label="Category List">
          <mat-button-toggle *ngFor="let category of categories" (click)="filterCategory(category.id)">
              {{category.name}}
          </mat-button-toggle>
      </mat-button-toggle-group>
  </div>
</div>

<div *ngFor="let item of itemFilter" class="d-flex d-inline-flex m-2">
  <div class="card" style="width: 18rem;" (click)="onClickItem(item)">
      <img [src]="item.pic" class="card-img-top" alt="...">
      <div class="card-body">
          <div class="d-flex justify-content-between">
            <p class="card-text">{{item.title}}</p>
            <p class="card-text">$ {{item.price}}</p>
          </div>
      </div>
  </div>
</div>