<div class="container-md" style="height: 90%;">
    <div class="w-100 d-flex justify-content-center">
        <div class="shadow my-3">
            <mat-button-toggle-group  name="categoryList" aria-label="Category List">
                <mat-button-toggle *ngFor="let category of categories" [value]="category.value">
                    {{category.title}}
                </mat-button-toggle>
            </mat-button-toggle-group>
        </div>
    </div>

    <div class="row" style="height: 95%;">
        <div class="col-sm-9">
            <app-item></app-item>
        </div>
        <div class="col-sm-3 bg-secondary list-overflow mt-4 rounded">
            <app-order></app-order>
        </div>
    </div>
</div>